<h2>{{titulo}}</h2>
<form action="{% url 'calculadora:respuesta' %}" method="post">
    
    {% csrf_token %}

    Escribe dos numeros y la accion a realizar:<br>

    Primer numero:
    <input type="text" name="num_1" maxlength="50"><br>
    Segundo numero:
    <input type="text" name="num_2" maxlength="50"><br>
    
    Operación:
    <select name="operaciones">
        <option value="+">Suma</option>
        <option value="-" selected="selected">Resta</option>
        <option value="*">Multiplicación</option>
        <option value="/">División</option>
    </select> <br>
    
    //Boton de Calcular
    <input type="submit" name="submit" value="Calcular">
</form>
